<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>TodoList App</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body style="">
<h3> Date & Time : <%=today%> </h3>
</body>

</html>