<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>TodoList App</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body style="">

    <div class="mainPage">

        <div class="mainPage__header">
            <div class="mainPage__dateBox">
                <i class="fa-solid fa-clock dateBox__icon"></i>
                <p class="dateBox__text"> <%=day%></p>
            </div>
        </div>

        <div class="mainPage__content container">
            <div class="row justify-content-md-center">
                <% var rows = 5;
                for (let i = 0; i < rows ; i++) { %>
                    <div class="card bg-dark mainPage__taskBox col-3">
                        <div class="card-header"> <p> Task <%=i+1%> </p> </div>
                        <div class="card-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at justo interdum, elementum tortor et, tempor est. Nunc in eros quam.</p></div>
                    </div>
                <%}%>
            </div>

            <div class="content__add">
                <button class="button justify-content-md-center" type="submit" name="button"><i class="fa-solid fa-plus"></i></button>
            </div>
        </div>

    </div>




    <script src="https://kit.fontawesome.com/5d3be9dc63.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>